body {
  background: url(images/image3.png) no-repeat;
  background-size: cover;
}
/*Стиль верхней панельки*/
.title {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: #fff;
  display: flex;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
/*Стиль лого*/
.icon__logo_NavBar {
  position: relative;
  display: flex;
}
.circle___icon__logo_NavBar {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-left: 140px;
  border-radius: 50%;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
.circle___icon__logo_NavBar::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 34px;
  height: 34px;
  margin-top: 18px;
  margin-left: 143px;
  border-radius: 50%;
  background: #fff;
}
.left_object___icon__logo_NavBar {
  margin-top: 30px;
  margin-left: -42px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  --value: 25%;
  background: conic-gradient(#bc9cff, var(--value), transparent 0);
  transform: rotate(0deg);
}
.left_object___icon__logo_NavBar::after {
  position: absolute;
  content: "";
  top: 2px;
  left: 1px;
  --value: 25%;
  background: conic-gradient(#fff, var(--value), transparent 0);
  width: 21px;
  height: 21px;
  border-radius: 50%;
  z-index: 2;
  transform: rotate(0deg);
}
.right_object___icon__logo_NavBar {
  margin-top: 30px;
  margin-left: -3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  --value: 13%;
  background: conic-gradient(#6dd0aa, var(--value), transparent 0);
  transform: rotate(-50deg);
}
.right_object___icon__logo_NavBar::after {
  position: absolute;
  content: "";
  top: 2px;
  left: 1px;
  --value: 13%;
  background: conic-gradient(#fff, var(--value), transparent 0);
  width: 21px;
  height: 21px;
  border-radius: 50%;
  z-index: 2;
  transform: rotate(0deg);
}
/*Стиль текса лого*/
.text__logo_NavBar {
  position: absolute;
  left: 192.5px;
  top: 28.33px;
}
.text__logo_NavBar span {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 15px;
  color: #1f2041;
}
.text__logo_NavBar::after {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2px;
  margin-left: 19px;
  content: "";
  width: 2.1px;
  height: 12px;
  background: #1f2041;
  transform: rotate(-45deg);
}
/*Стиль текса титула*/
.information_NavBar {
  display: flex;
  margin-left: 285.31px;
  margin-top: 26px;
}
.margin20 {
  margin-right: 20px;
}
.margin44 {
  margin-right: 44px;
}
.arrow-blockone,
.arrow-blocktwo {
  position: relative;
  height: 18px;
}
.arrow-blockone::after {
  position: absolute;
  content: "";
  top: 3px;
  right: 27px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
}
.arrow-blockone::before {
  position: absolute;
  content: "";
  top: 6px;
  right: 27px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #999;
  border-radius: 50%;
}
.arrow-blocktwo::after {
  position: absolute;
  content: "";
  top: 3px;
  right: 27px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
}
.arrow-blocktwo::before {
  position: absolute;
  content: "";
  top: 6px;
  right: 27px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #999;
  border-radius: 50%;
}
.text__information_NavBar {
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
}
/*Стили кнопок титла*/
.login_NavBar {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 18px;
  display: flex;
}
.button_enter__login_NavBar {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #bc9cff;
  border: 2px solid;
  background: #fff;
  border-radius: 22px;
  width: 87px;
  height: 34px;
}
.button_enter__login_NavBar:hover {
  cursor: pointer;
}
.button_register__login_NavBar {
  margin-left: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  border: 0px solid;
  width: 196px;
  height: 34px;
}
.button_register__login_NavBar:hover {
  cursor: pointer;
}
/*Стиль блока номера*/
.blocknumber {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: auto;
  width: 320px;
  margin-left: 140px;
  margin-top: 140px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background: #fff;
}
.blocknumber span {
  color: #1f2041;
}
.text_title__blocknumber span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.input_way__blocknumber {
  display: flex;
  margin-top: 21px;
}
.input_way__blocknumber span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.arrival___input_way__blocknumber {
  margin-right: 22px;
}
.block____arrival___input_way__blocknumber {
  position: relative;
  width: 147px;
  height: 30px;
  padding-top: 11.56px;
  margin-top: 5.44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}
.block____arrival___input_way__blocknumber::after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  cursor: pointer;
}
.block____arrival___input_way__blocknumber::before {
  position: absolute;
  content: "";
  top: 17px;
  right: 10px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #999;
  border-radius: 50%;
  cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
#arrival___input_way__blocknumber {
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  margin-left: 15px;
}
#exit___input_way__blocknumber {
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  margin-left: 15px;
}
.block____exit___input_way__blocknumber {
  position: relative;
  width: 147px;
  height: 30px;
  padding-top: 11.56px;
  margin-top: 5.44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}
.block____exit___input_way__blocknumber::after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  cursor: pointer;
}
.block____exit___input_way__blocknumber::before {
  position: absolute;
  content: "";
  top: 17px;
  right: 10px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #999;
  border-radius: 50%;
  cursor: pointer;
}
.textnumberone {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.select_visit__blocknumber {
  margin-top: 20.56px;
}
.text____button_visit___select_visit__blocknumber span {
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
.button_visit___select_visit__blocknumber {
  margin-top: 5px;
  width: 320px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}
.text____button_visit___select_visit__blocknumber {
  position: relative;
  margin-top: 13px;
  margin-left: 15px;
}
.text____button_visit___select_visit__blocknumber::after {
  position: absolute;
  content: "";
  top: 3px;
  right: 10px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  cursor: pointer;
}
.text____button_visit___select_visit__blocknumber::before {
  position: absolute;
  content: "";
  top: 6px;
  right: 10px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #999;
  border-radius: 50%;
  cursor: pointer;
}
.button__blocknamber {
  position: relative;
  margin-top: 31px;
}
.line {
  position: absolute;
  top: 20px;
  right: 16px;
  width: 12px;
  height: 8px;
  border-top: 3px solid #fff;
  border-radius: 1px;
}
.arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 8px;
  height: 8px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  margin-right: 0px;
  border-radius: 1px;
}
.arrow-right {
  transform: rotate(45deg);
}
.button_search___button__blocknumber {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  border: 0px solid;
  width: 320px;
  height: 44px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
}
.button_search___button__blocknumber:hover {
  cursor: pointer;
}
/*Стиль текста контента*/
.text__content_main {
  margin-top: 320px;
  margin-left: 1009px;
  margin-bottom: 18px;
}
.text__content_main span {
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: rgba(31, 32, 65, 0.75);
}
/*Стиль нижней панельки*/
.rectangle-information__description_main {
  display: flex;
  width: 100%;
  background: #fff;
  margin-top: 104px;
  padding-bottom: 100px;
}
.description_main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 900px;
}
.block-icon_rectangle-information {
  margin-left: 140px;
  margin-right: 40px;
}
.text__block-icon_rectangle-information {
  margin-top: 20px;
}
.block-information_rectangle-information {
  margin-right: 57px;
}
.information__block-information_rectangle-information,
.information__block-about_rectangle-information,
.information__block-support_rectangle-information,
.information__block-subscription_rectangle-information {
  margin-top: 21px;
}
.block-about_rectangle-information {
  margin-right: 92px;
}
.block-support_rectangle-information {
  margin-right: 51px;
}
.text__information_block-information,
.text__information_block-about,
.text__information__block-support,
.information__block-subscription_rectangle-information {
  margin-bottom: 20px;
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}
.text__information_block-information,
.text__information_block-about,
.text__information__block-support {
  cursor: pointer;
}
.text-title___title__block-icon_rectangle-information {
  margin-left: 12.5px;
  margin-top: 9.33px;
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 15px;
  color: #1f2041;
}
.title-text__block-information_rectangle-information,
.title-text__block-about_rectangle-information,
.title-text__block-support_rectangle-information,
.title-text__block-subscription_rectangle-information {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}
.text__block-icon_rectangle-information {
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
#text-email_block-email {
  color: rgba(31, 32, 65, 0.25);
  height: 44px;
  width: 245px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding-left: 15px;
}
.block-email__block-subscription_rectangle-information {
  position: relative;
}
.line_block-email {
  position: absolute;
  top: 24px;
  right: 18px;
  width: 12px;
  height: 8px;
  border-top: 3px solid #a3a0fc;
  border-radius: 1px;
}
.arrow_block-email {
  position: absolute;
  top: 19px;
  right: 17px;
  width: 8px;
  height: 8px;
  border-top: 3px solid #a3a0fc;
  border-right: 3px solid #a3a0fc;
  margin-right: 1px;
  border-radius: 1px;
}
.arrow-right_block-email {
  transform: rotate(45deg);
}
/*Стиль нижней линии*/
.rectangle-bottomtitle__description_main {
  display: flex;
  width: 100%;
  height: 70px;
  background: #fff;
  border-top: 1px solid #d7d7da;
}
.text___rectangle-bottomtitle__description_main {
  margin-top: 26px;
  margin-left: 140px;
}
.text___rectangle-bottomtitle__description_main span {
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75);
}
.itemsblock___rectangle-bottomtitle__description_main {
  margin-left: 676px;
  margin-top: 23px;
}
.network {
  margin-right: 20px;
}
/*Лого внизу*/
.title__block-icon_rectangle-information {
  display: flex;
}
.icon___title__block-icon_rectangle-information {
  position: relative;
  display: flex;
  margin-top: -4px;
}
.circle___icon__title_block-icon {
  width: 40px;
  height: 40px;
  margin-top: px;
  margin-left: px;
  border-radius: 50%;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
.circle___icon__title_block-icon::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 34px;
  height: 34px;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 50%;
  background: #fff;
}
.left_object___icon__title_block-icon {
  margin-top: 15px;
  margin-left: -42px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  --value: 25%;
  background: conic-gradient(#bc9cff, var(--value), transparent 0);
  transform: rotate(0deg);
}
.left_object___icon__title_block-icon::after {
  position: absolute;
  content: "";
  top: 2px;
  left: 1px;
  --value: 25%;
  background: conic-gradient(#fff, var(--value), transparent 0);
  width: 21px;
  height: 21px;
  border-radius: 50%;
  z-index: 2;
  transform: rotate(0deg);
}
.right_object___icon__title_block-icon {
  margin-top: 15px;
  margin-left: -3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  --value: 13%;
  background: conic-gradient(#6dd0aa, var(--value), transparent 0);
  transform: rotate(-50deg);
}
.right_object___icon__title_block-icon::after {
  position: absolute;
  content: "";
  top: 2px;
  left: 1px;
  --value: 13%;
  background: conic-gradient(#fff, var(--value), transparent 0);
  width: 21px;
  height: 21px;
  border-radius: 50%;
  z-index: 2;
  transform: rotate(0deg);
}
.text-title___title__block-icon_rectangle-information {
  position: relative;
}
.text-title___title__block-icon_rectangle-information::after {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1px;
  margin-left: 18px;
  content: "";
  width: 2.1px;
  height: 12px;
  background: #1f2041;
  transform: rotate(-45deg);
}
/*Выбор гостей*/
.guests-choice___select_visit__blocknumber {
  position: absolute;
  background: #fff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  width: 320px;
  padding-bottom: 13px;
  border-radius: 0px 0px 4px 4px;
  z-index: 2;
}
.choice_guests-choice {
  display: flex;
}
.text__choice_guests-choice {
  margin-top: 13px;
  margin-left: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}
.blockspan___text__choice_guests-choice {
  margin-bottom: 22px;
}
.button__choice_guests-choice {
  margin-top: 7px;
  margin-left: 118px;
}
.circle-button___button__choice_guests-choice {
  display: flex;
  margin-bottom: 7px;
}
.circle-button-minus {
  border-radius: 50%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background: #fff;
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(31, 32, 65, 0.5);
  width: 30px;
  height: 30px;
  opacity: 0.38;
  cursor: pointer;
}
.circle-button___button__choice_guests-choice span {
  display: block;
  position: absolute;
  margin-left: 41px;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  margin-top: 8px;
  color: #1f2041;
}
.circle-button-plus {
  border-radius: 50%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background: #fff;
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(31, 32, 65, 0.5);
  width: 30px;
  height: 30px;
  margin-left: 32px;
  margin-right: 7px;
  cursor: pointer;
}
.button_guests-choice {
  margin-top: 10px;
  margin-left: 14px;
}
.reset__button_guests-choice {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
  background: #fff;
  padding: 0px;
  border: none;
  cursor: pointer;
}
.apply__button_guests-choice {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
  background: #fff;
  padding: 0px;
  border: none;
  margin-left: 137px;
  margin-right: 7px;
  cursor: pointer;
}
/*Календарь*/
.calendar___input_way__blocknumber {
  position: absolute;
  display: none;
  width: 320px;
  height: auto;
  background: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  margin-top: 5.56px;
  z-index: 2;
}
.month__calendar_input {
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-left: 100px;
}
.line__left-block_mount {
  position: absolute;
  top: 9px;
  left: -74px;
  width: 12px;
  height: 8px;
  border-top: 3px solid #bc9cff;
  border-radius: 1px;
}
.left-arrow__left-block_mount {
  position: absolute;
  top: 5px;
  left: -75px;
  width: 8px;
  height: 8px;
  border-top: 3px solid #bc9cff;
  border-left: 3px solid #bc9cff;
  margin-right: 0px;
  border-radius: 1px;
}
.left-arrow__left-block_mount {
  transform: rotate(-45deg);
}
.month__calendar_input span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #1f2041;
}
.line__right-block_mount {
  position: absolute;
  top: 9px;
  left: 183px;
  width: 12px;
  height: 8px;
  border-top: 3px solid #bc9cff;
  border-radius: 1px;
}
.right-arrow__right-block_mount {
  position: absolute;
  top: 5px;
  left: 185px;
  width: 8px;
  height: 8px;
  border-top: 3px solid #bc9cff;
  border-right: 3px solid #bc9cff;
  margin-right: 0px;
  border-radius: 1px;
}
.right-arrow__right-block_mount {
  transform: rotate(45deg);
}
.number-calendar__calendar_input {
  margin-top: 30px;
  margin-left: 21px;
}
.table_number-calendar {
  border: 0px;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}
.weekday__table_number-calendar {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #bc9cff;
}
.weekday,
.number_line-one,
.number_line-two,
.number_line-three,
.number_line-four,
.number_line-five {
  width: 37.5px;
  height: 37.5px;
  align-items: center;
  text-align: center;
}
.number_line-one,
.number_line-two,
.number_line-three,
.number_line-four,
.number_line-five {
  cursor: pointer;
  position: relative;
}
.after__number_line {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  content: " ";
  width: 100%;
  height: 100%;
  background: #000;
  border: 0px;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  opacity: 0.25;
  z-index: 1;
}
.line-one_table,
.line-two_table,
.line-three_table,
.line-four_table,
.line-five_table {
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
}
.button__calendar_input {
  margin-top: 20.44px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.button-reset___button__calendar_input,
.button-accept___button__calendar_input {
  padding: 0px 0px 0px 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
  border: none;
  background: #fff;
  cursor: pointer;
}
.button-accept___button__calendar_input {
  margin-left: 118px;
}
/*Войти*/
.enter-block {
  display: none;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: auto;
  max-width: 380px;
  margin-left: 530px;
  margin-top: 172px;
  padding: 40px 30px 32px 30px;
}
.enter-text_enter-block {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1f2041;
}
.input-email_enter-block {
  margin-top: 20px;
}
.input-password_enter-block {
  margin-top: 10px;
}
.content_enter-block {
  width: 320px;
}
.email_enter-block,
.password_enter-block {
  width: 302px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  padding-left: 15px;
}
.button_enter-block {
  margin-top: 20px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border: none;
  border-radius: 22px;
  width: 320px;
  height: 44px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.text-bottom_enter-block {
  margin-top: 30px;
}
.text_text-bottom_enter-block {
  text-decoration: none;
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.button_text-bottom_enter-block {
  margin-left: 53px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #bc9cff;
  border-radius: 22px;
  width: 99px;
  height: 44px;
  border: 1px solid #bc9cff;
  background: #fff;
  cursor: pointer;
}
.block-button_enter-block {
  position: relative;
}
.line_enter-block {
  position: absolute;
  top: 42px;
  right: 16px;
  width: 12px;
  height: 8px;
  border-top: 3px solid #fff;
  border-radius: 1px;
}
.arrow_enter-block {
  position: absolute;
  top: 37px;
  right: 15px;
  width: 8px;
  height: 8px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  margin-right: 0px;
  border-radius: 1px;
}
.arrow-right_enter-block {
  transform: rotate(45deg);
}
/*поле регистрации*/
.accountRegistration-block {
  display: none;
  margin-left: 530px;
  margin-top: 89px;
  width: 380px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
}
.title-text_accountRegistration-block {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1f2041;
}
.inputName-block_accountRegistration-block input,
.inputSurname-block_accountRegistration-block input {
  margin-top: 20px;
  padding-left: 15px;
  width: 320px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}
.choiceCheckboxes-block_accountRegistration-block {
  margin-top: 10px;
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  display: flex;
}
.choiceCheckboxes-block_accountRegistration-block span {
  margin-right: 20px;
}
.blockMan_choiceCheckboxes-block,
.blockWoman_choiceCheckboxes-block {
  display: flex;
  align-items: center;
  color: rgba(31, 32, 65, 0.5);
}
.radioBlockMan_blockMan,
.radioBlockWoman_blockWoman {
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid #bc9cff;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 10px;
}
.circleBlock_radioBlockMan,
.circleBlock_radioBlockWoman {
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 10px;
  margin-left: 3px;
  margin-top: 3px;
  display: none;
}
.dateBirth_accountRegistration-block {
  margin-top: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}
.blocktothedata_dateBirth {
  margin-top: 5px;
}
.blocktothedata_dateBirth input {
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  width: 320px;
  height: 44px;
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  padding-left: 15px;
}
.data-block_accountRegistration-block {
  margin-top: 20px;
}
#text_data-block {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}
.blockInblock-email_data-block {
  margin-top: 5px;
}
.input-email_data-block,
.input-password_data-block {
  width: 320px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  padding-left: 15px;
}
.blockInblock-password_data-block {
  margin-top: 10px;
}
.specialOffers_data-block_accountRegistration-block {
  align-items: center;
  margin-top: 10px;
  display: flex;
}
.specialOffers_data-block_accountRegistration-block span {
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-left: 10px;
}
.ovalBlock__specialOffers_data-block {
  width: 40px;
  height: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}
.circleBlock_ovalBlock {
  width: 12px;
  height: 12px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  margin-top: 3px;
  margin-left: 3px;
}
.block-button_accountRegistration-block {
  margin-top: 20px;
  position: relative;
}
.button-login_accountRegistration-block {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  border: none;
  width: 320px;
  height: 44px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.bottom_content_accountRegistration-block {
  margin-top: 30px;
}
.bottom_content_accountRegistration-block span {
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.button-enter__bottom_content_accountRegistration-block {
  width: 99px;
  height: 44px;
  border-radius: 22px;
  background: #fff;
  border: 1px solid #bc9cff;
  color: #bc9cff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 29px;
  cursor: pointer;
}
.line_accountRegistration-block {
  position: absolute;
  top: 20px;
  right: 16px;
  width: 12px;
  height: 8px;
  border-top: 3px solid #fff;
  border-radius: 1px;
}
.arrow_accountRegistration-block {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 8px;
  height: 8px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  margin-right: 0px;
  border-radius: 1px;
}
.arrow-right_accountRegistration-block {
  transform: rotate(45deg);
}
/*левый блок выбора комнаты*/
.searchRoom-block {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
}
.left-block_searchRoom-block {
  margin-top: 70px;
  padding: 30px 60px 0px 140px;
  background: #fff;
}
.dataOtel__left-block_searchRoom-block span,
.guestsBlock__left-block_searchRoom-block span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}
.input__dataOtel_left-block,
.input__guestsBlock_left-block,
.input__conveniences_left-block {
  width: 266px;
  margin-top: 5px;
}
.dataInput__input_dataOtel,
.guestsInput__input_guestsBlock,
.conveniencesImput__input_conveniences {
  width: 266px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  padding-top: 11.8px;
  text-transform: none;
}
.guestsBlock__left-block_searchRoom-block {
  margin-top: 20px;
}
.price__left-block_searchRoom-block {
  margin-top: 30px;
  width: 266px;
}
.textAfter__price_left-block {
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
}
.textBlock__price_left-block {
  position: relative;
  align-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}
.oneBlock__textBlock_price {
  display: table-cell;
}
.twoBlock__textBlock_price {
  position: absolute;
  top: 0;
  right: 0;
  display: table-cell;
}
.priceChange {
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}
.ovalBlock__price_left-block {
  margin-top: 23px;
  margin-bottom: 13px;
  width: 266px;
  height: 6px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
}
.circleBlockOne_ovalBlock,
.circleBlockTwo_ovalBlock {
  position: absolute;
  top: -6px;
  left: -1px;
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
}
.circleBlockTwo_ovalBlock {
  margin-left: 253px;
}
.background_ovalBlock {
  position: absolute;
  content: "";
  width: 242px;
  height: 6px;
  top: 10px;
  margin-left:12px;
  left: 0;
  z-index: 0;
  height: 6px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}
.houseRules__left-block_searchRoom-block {
  margin-top: 30px;
}
.houseRules__left-block_searchRoom-block span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}
.smoke__houseRules_left-block {
  margin-top: 17px;
}
.smoke__houseRules_left-block,
.pet__houseRules_left-block,
.guests__houseRules_left-block,
.breakfast_additionalAmenities-checkbox ,
.desk_additionalAmenities-checkbox ,
.feeding-chair_additionalAmenities-checkbox ,
.crib_additionalAmenities-checkbox ,
.TV_additionalAmenities-checkbox ,
.shampoo_additionalAmenities-checkbox {
  display: flex;
  margin-bottom: 10px;
}
.additionalAmenities-checkbox{
  margin-top: 18px;
  display: none;
}
.smoke__houseRules_left-block span,
.pet__houseRules_left-block span,
.guests__houseRules_left-block span,
.breakfast_additionalAmenities-checkbox span,
.desk_additionalAmenities-checkbox span,
.feeding-chair_additionalAmenities-checkbox span,
.crib_additionalAmenities-checkbox span,
.TV_additionalAmenities-checkbox span,
.shampoo_additionalAmenities-checkbox span{
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  text-transform: none;
  margin-left: 9.74px;
}
.availability__left-block_searchRoom-block {
  margin-top: 30px; 
}
.textTitle_availability {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}
.hallway__availability_left-block{
  margin-top: 16px;
}

.hallway__availability_left-block,
.assistant__availability_left-block {
  display: flex;
}
.hallway__availability_left-block{
  margin-bottom:10px;
}
.text__hallway_availability,
.text__assistant_availability {
  margin-left: 10px;
}
.assistant__availability_left-block span,
.text1__hallway_availability span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
.text2__hallway_availability span {
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
}
.conveniences__left-block_searchRoom-block {
  margin-top: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}
.additionalAmenities__left-block_searchRoom-block {
  margin-top: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}
.input__dataOtel_left-block,
.input__guestsBlock_left-block,
.input__conveniences_left-block,
.additionalAmenities__left-block_searchRoom-block {
  position: relative;
}

.input__dataOtel_left-block::after,
.input__guestsBlock_left-block::after,
.conveniencesImput__input_conveniences::after {
  position: absolute;
  content: "";
  top: 16px;
  right: 10px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  cursor: pointer;
}
.input__dataOtel_left-block::before,
.input__guestsBlock_left-block::before,
.conveniencesImput__input_conveniences::before {
  position: absolute;
  content: "";
  top: 19px;
  right: 10px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid rgba(31, 32, 65, 0.5);
  border-radius: 50%;
  cursor: pointer;
}
.polublock_additionalAmenities {
  position: absolute;
  content: "";
  top: 0px;
  right: 13px;
  width: 5px;
  height: 5px;
  border: 2px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  border-left:none;
  cursor: pointer;
  transform: rotate(45deg);
}
/*Окно номера*/
.conveniencesContent__input_conveniences{
  position: absolute;
  width: 266px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 0px 0px 4px 4px;
  display: none;
  padding-bottom: 7px;
  z-index: 1;
}
.blockflex_conveniencesContent{
  display: flex;
}
.text__conveniencesContent_input_conveniences{
  margin-top: 13px;
  margin-left: 15px;
}
.oneText{
  margin-bottom: 22px;
}
.button__conveniencesContent_input_conveniences{
  margin-left: 19px;
}
.circle-button__button_conveniencesContent{
  display: flex;
  margin-top: 7px;
}
.circle-button-minus_circle-button,
.circle-button-plus_circle-button{
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 22px;
  background: #fff;
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(31, 32, 65, 0.5);
}
.circle-button-minus_circle-button{
  opacity: 0.38;
}
.circle-button-plus_circle-button{
  position: absolute;
  margin-left: 62px;
}
.bedrooms-text,
.beds-text,
.bathrooms-text{
  margin-left: 12px;
  margin-top: 8px;
}
.inputRange-block__price_left-block{
  position: relative;
  pointer-events: none;
}
.inputRange-block__price_left-block input[type="range"]{
  height: 2em;
  display: block;
  margin: 0;
  width: 266px;
  -webkit-appearance: none;
}
.inputRange-block__price_left-block input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.inputRange-block__price_left-block input[type=range]:focus {
  outline: none; 
}
.inputRange-block__price_left-block input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.inputRange-block__price_left-block input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #FFFFFF;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  cursor: pointer;
  margin-top: -4px;
  margin-left:-1px;
}
.inputRange-block__price_left-block input[type=range]:last-child::-webkit-slider-thumb{
  margin-top: 0px;
  margin-left: 0px;
}
.inputRange-block__price_left-block input[type=range]:first-child::-webkit-slider-runnable-track {
  width: 266px;
  height: 6px;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
}
.inputRange-block__price_left-block input[type="range"]:last-child{
  margin-top: -2em;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
}
input[type="range"]::-moz-range-thumb {
  pointer-events: all;
}
input[type="range"]::-ms-thumb {
  pointer-events: all;
}
/*стиль checkbox*/
.input{
  width: 20px;
  height: 20px; 
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}
.smoke-checked,
.pet-checked,
.guests-checked,
.hallway-checked,
.assistant-checked,
.breakfast-checked,
.desk-checked,
.feeding-checked,
.crib-checked,
.TV-checked,
.shampoo-checked{
  display: none;
  width: 6px;
  height: 8px;
  margin-left: 5px;
  margin-top: 2px;
  border: 2px solid #BC9CFF;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}
/*Шрифты*/
@font-face {
  font-family: "Montserrat";
  src: url(font/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-normal";
  src: url(font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(font/Montserrat-Medium.ttf);
}
