body {
  background: url(images/image3.png) no-repeat;
  background-size: cover;
}
/*Стиль верхней панельки*/
.title {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: #fff;
  display: flex;
}
/*Стиль лого*/
.icon__logo_NavBar {
  position: relative;
}
.images___icon__logo_NavBar {
  position: absolute;
}
.imglogo1 {
  left: 149.41px;
  top: 30.29px;
}
.imglogo2 {
  left: 140px;
  top: 15px;
}
.imglogo3 {
  left: 161.47px;
  top: 30.29px;
}
/*Стиль текса лого*/
.text__logo_NavBar {
  position: absolute;

  left: 192.5px;
  top: 28.33px;
}
/*Стиль текса титула*/
.information_NavBar {
  margin-left: 531px;
  margin-top: 26px;
}
.margin20 {
  margin-right: 20px;
}
.margin44 {
  margin-right: 44px;
}
.text__information_NavBar {
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
}
/*Стили кнопок титла*/
.login_NavBar {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 18px;
  display: flex;
}
.button_enter__login_NavBar {
  font-size: 12px;
  line-height: 15px;
  color: #bc9cff;
  border: 2px solid;
  background: #fff;
  border-radius: 22px;
  width: 87px;
  height: 34px;
}

.button_register__login_NavBar {
  margin-left: 20px;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  border: 0px solid;
  width: 196px;
  height: 34px;
}
/*Стиль блока номера*/
.blocknumber {
  border: 1px solid rgba(0, 0, 0, 0.12);

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: auto;
  width: 320px;
  margin-left: 140px;
  margin-top: 140px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background: #fff;
}
.blocknumber span {
  color: #1f2041;
}
.text_title__blocknumber span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.input_way__blocknumber {
  display: flex;
  margin-top: 21px;
}
.input_way__blocknumber span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.arrival___input_way__blocknumber {
  margin-right: 20px;
}
.arrival___input_way__blocknumber input {
  margin-top: 5.44px;
  width: 150px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 5.44px;
  padding-top: 11.56px;
  padding-left: 15px;

  padding-bottom: 8.44px;
  font-size: 14px;
  line-height: 18px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(31, 32, 65, 0.5);
  opacity: 1;
  background-image: url("images/expand_more.png");
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: 10px;
  margin-right: 5.5px;
  cursor: pointer;
}

.exit__input_way__blocknumber input {
  margin-top: 5.44px;
  width: 150px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 5.44px;
  padding-top: 11.56px;
  padding-left: 15px;

  padding-bottom: 8.44px;
  font-size: 14px;
  line-height: 18px;
}
.textnumberone {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.select_visit__blocknumber {
  margin-top: 20.56px;
}

.text____button_visit___select_visit__blocknumber span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.button_visit___select_visit__blocknumber {
  margin-top: 13;
  width: 320px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}
.text____button_visit___select_visit__blocknumber {
  margin-top: 13px;
  margin-left: 15px;
}
.button__blocknamber {
  margin-top: 31px;
}
.button_search___button__blocknumber {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  border: 0px solid;
  width: 320px;
  height: 44px;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
